@page
@model CPRG005.Final.Roland.Pages.SlipModel
@using CPRG005.Final.Roland.Models
@{
    <div class="filters">
        <select class="filterOptions" id="locationOptionsSelectList">
            @foreach (Location location in Model.Locations)
            {
                <option value="@location.Id">@location.Name</option>
            }
        </select>

        <select class="filterOptions" id="dockOptionsSelectList">
            @foreach (Dock dock in Model.Docks)
            {
                <option value="@dock.Id">@dock.Name</option>
            }
        </select>
    </div>

    @if (Model.Slips.Count < 1)
    {
        <h6>No leases to display.</h6>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Location</th>
                    <th scope="col">Dock</th>
                    <th scope="col">Width (ft)</th>
                    <th scope="col">Length (ft)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Slip slip in Model.Slips)
                {
                    <tr>
                        <th scope="row">@Model.IdFormat(slip.Id)</th>
                        <td>@slip.Dock.Location.Name</td>
                        <td>@slip.Dock.Name</td>
                        <td>@slip.Width</td>
                        <td>@slip.Length</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    var dockSelectList = $("#dockOptionsSelectList");
    var locSelectList = $("#locationOptionsSelectList");
    var url = 'https://localhost:44363/' + 'slip/';

    dockSelectList.change(function () {
        var dockId = dockSelectList.find(":selected").val();
        if (dockId < 0) {
            return;
        }
        $.get(url + "dock/" + dockId, function (data) {
            console.log(data);
        });
    });

    locSelectList.change(function () {
        var locId = locSelectList.find(":selected").val();
        if (locId < 0) {
            return;
        }
        $.get(url + "loc/" + locId, function (data) {
            console.log(data);
        });
    });
</script>
